/*---------------------GENERAL--------------------*/
.flex{
	display:flex;
	justify-content: center;
}
.icon{
	width:30px;
	height:30px;
}
*{
	font-family:proxima-nova,Helvetica Neue,Arial,Helvetica,sans-serif;
}
.butt{
	border-radius:3px;
	border-style: solid;
	border-width: 1px;
	font-weight: 600;
	margin:2px;
}
.list{
	display:flex;
	flex-flow: row wrap;
	justify-content: space-around;
	list-style: none;
	margin-bottom: 0;
}
/*---------------------Body----------------------*/
body{
	margin:0;
	background-color: #FAFAFA;
}

/*-------------------Header----------------------*/
header{
	width:100%;
	height:70px;
	border-bottom:1px solid lightgrey;
	background-color: white;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}
input{
	width:215px;
	height:25px;
	border-radius:3px;
	border:1px solid lightgrey;
	background-color: #FAFAFA;
	text-align: center;
    background: #FAFAFA url(img/bird-prints.png) 60px no-repeat;
    background-size: 10px;
}
.logo{
	width:40%;
	height:5vh;
}
.place{
	padding:0;
	width:33%;
	padding-top:30%;
}
.place a{
	padding-right: 5%;
}

/*----------------Corps & PROFIL---------------------*/
.container{
	margin:auto;
	width:80%;
	height:auto;
	display:flex;
	flex-wrap: wrap;
	justify-content: space-around;
}
.profil{
	margin-top:70px;
	margin-bottom:30px;
	display:flex;
	justify-content: space-around;
	flex-flow: row wrap;
	width:90%;
}

.avatar{
	width:150px;
	height:150px;
	border-radius: 100%;
	background-image:url("http://static.teteamodeler.com/boiteaoutils/image/image21/poussin3-0.jpg");
	background-position:center;
}

.rate{
	width:60%;
	height: auto;
}
.buttons p{
	font-size: 34px;
	margin:0;
	margin-right:30px;
}
.info{
	display:flex;
	justify-content: flex-start;
}
.ab{
	width:115px;
	height:30px;
	background-color: #70C050;
	color:#FFFFFF;
	font-size:15px;
}
.ab2{
	width:30px;
	height:30px;
	background-color:#4E9F2E;
}
.ab3{
	width:30px;
	height:30px;
	background-color:transparent;
}
.list li{
	margin-right: 20px;
}
/*-----------------corps pictures-----------------*/
.content{
	display:flex;
	flex-wrap: wrap;
	justify-content: space-around;
}
.pics{
	width:300px;
	height:300px;
	margin:auto;
	padding-bottom:30px;
}
/*--------------------Footer----------------------*/
.nav .list{
	width:330px;
	padding-left:0;
}
.list li a{
	text-decoration: none;
	color:black;
}
p{
	text-align:center;
}

/**************Media Queries**********************/

@media screen and (max-width: 600px) {
    .container {
        display: flex;
        flex-direction: column;
        width:100%;
    }
    .container img {
        /*width: 100%;*/
}
}

/****MODAL****/


.modal-container{
	position: fixed;
	background-color: #fff;
	border: 1px solid #000;
	width: 80%;
	height: auto;
	max-width: 700px;
	left: 40%;
	padding: 20px;
	border-radius: 5px;
	display: inline-block;
	

	-webkit-transform: translate(-50%, -800%);
	-ms-transform: translate(-50%, -800%);
	transform: translate(50%, -800%);

	-webkit-transition: -webkit-transform 200ms ease-out;
	transition: transform 200ms ease-out;
}

.modal-container div{
	width: 200px;
	height: auto;
}

.pic-modal{
	max-width: 700px;
	max-height: 500px;
}

/*partea din spate -> negru*/
.modal:before {
	content: "";
	position: fixed;
	display: none;
	background-color: rgba(0, 0, 0, .8);
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
}

.modal:target:before{
	display: block;
}

.modal:target .modal-container{
	top: 10%;
	margin: auto;
	width: 80%;
	height: 80%;
	-webkit-transform: translate(-50%, 0);
	-ms-transform: translate(-50%, 0);
	transform: translate(-50%, 0);

}

#modal-close{}